<!DOCTYPE html>
<html>
  <head>
    <title>Rougelike MUD</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    <header>Open Games: {{ games.count }}</header>
    <main>
      {% for game in games %}
      <div class="game">
        <a href="">Join</a>
        <p>{{ game.name }} </p>
      </div>
      {% endfor %}
    </main>
    <footer>
      <button type="butto">New Game</button>
    </footer>
  </body>
</html>